<% provide(:title, "Sign In") %>

<div class="span4 offset4">

	<h1>Sign-in</h1>

	<%= form_for(:sessions, url: sessions_path) do |f| %>

		<%= f.label 		:email %>
		<%= f.text_field 	:email %>

		<%= f.label 			:password %>
		<%= f.password_field 	:password %>
		
		<div class="row">
			<div class="span2">
				<%= f.submit "Sign in", class: "btn btn-info btn-large" %>
			</div>
			<div class="offset2">
				<div class="span2">	
					<p> Don't have an account? </p>
					<%= link_to "Sign up", signup_path, class: "btn btn-small" %>
				</div>
			</div>
		</div>

	<% end %>

</div>