<% provide(:title, "Sign-Up") %>

<div class="row">
  <div class="span4 container">
  	<h2>Current Users</h2>
  	<h5>Join the Team!</h5>
	

  	<ul class="container">
  		<% @user_list.reverse.each do |user| %>
        <div class="row users_list_item">
    			<div class="container span1">
    				<%= link_to profile_picture, user_path(user.id) %>
          </div class="container span2 offset1">
          <div>
    			  <li> <%=link_to "#{user.first_name} #{user.last_name}", user_path(user.id) %> </li>
          </div>
        </div>
  		<% end %>
  	</ul>
  </div>
<div class="offset8">
  <div class="span4 container">
  	<h2>Sign-up</h2>

  	<%= form_for(@user) do |f| %>
  	  <%= render 'shared/error_messages' %>

  	  <%= f.label			:first_name %>
  	  <%= f.text_field 		:first_name %>

      <%= f.label     :last_name %>
      <%= f.text_field    :last_name %>

  	  <%= f.label			:email %>
  	  <%= f.text_field		:email %>

  	  <%= f.label			:password %>
  	  <%= f.password_field	:password %>

  	  <%= f.label			:password_confirmation, 'Confirmation' %>
  	  <%= f.password_field	:password_confirmation %>
  	
  	  <%= f.submit "Sign-up!", class: "btn btn-large btn-info" %>
  	<% end %>
  </div>
</div>