<div class="row">
  <div class="span6">
  	<h2>Sign-up</h2>

  	<%= form_for(@user) do |f| %>
  	  <%= render 'shared/error_messages' %>

  	  <%= f.label			:name %>
  	  <%= f.text_field 		:name %>

  	  <%= f.label			:email %>
  	  <%= f.text_field		:email %>

  	  <%= f.label			:password %>
  	  <%= f.password_field	:password %>

  	  <%= f.label			:password_confirmation, 'Confirmation' %>
  	  <%= f.password_field	:password_confirmation %>
  	
  	  <%= f.submit "Sign-up!", class: "btn btn-large btn-info" %>
  	<% end %>
  </div>

  <div class="offset8">
  	<h2>Already a user?</h2>
  	<div class="center">
  		<%= link_to "Sign In Here", "#", class: "btn btn-large btn-info" %>
	</div>
</div>