<% provide(:title, "#{@user.first_name} #{@user.last_name}") %>

<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<div class="center">
	<% if @user.last_name != "" %>
		<h4>First Name:<%= " #{@user.first_name}" %></h4>
		<h4>Last Name:<%= " #{@user.last_name}" %></h4>
	<% else %>
		<h4>Name:<%= " #{@user.first_name}" %></h4>
	<% end %>
	<h4>E-mail Address:<%= " #{@user.email}" %></h4>

	<%= link_to "Back", signup_path, class: "btn btn-large btn-info" %>
	<%= link_to "Edit User Information", edit_user_path(@user.id), class: "btn btn-info btn-large" %>
</div>