<header class="navbar navbar-fixed-top navbar"> 
	<div class="navbar-inner">
		<div class= "container">
			<div class="user">
				<% if signed_in? %>
					<h6><%= "Hello, #{current_user.first_name} #{current_user.last_name}" %></h6>
				<% else %>
					<h6>You are not signed in</h6>
				<% end %>
			</div>
			<nav>
				<ul class = "nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<% if signed_in? %>
						<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
					<% else %>
						<li><%= link_to "Sign In", signin_path %></li>
					<% end %>

					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Help", help_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>